<div class="title">
    <h1>ELIAN JAIMES</h1>
</div>
<div class="container">
    <div class="box">
        <h2>WORK EXPERIENCE</h2>
        <div class="experience">
            <img src="../../assets/img/2020 sin fondo.png" alt="2020">
            <div class="infow">
                <h3>FREELANCE</h3>
                <p>Unity developer & Game and Application Designer & .NET developer & developer fullstack</p>
            </div>
        </div>
        <div class="experience">

            <img src="../../assets/img/2021 sin fondo.png" alt="2021">
            <div class="infow">
                <h3>JSONPRODUCTIONS</h3>
                <p>Unity developer & Game and Application Designer & .NET developer</p>
            </div>
        </div>
        <div class="experience">
            <img src="../../assets/img/2022 sin fondo.png" alt="2022">
            <div class="infow">
                <h3>JORJWEB.LTDA</h3>
                <p>Developer fullstack & developer backend Spring boot & Systems engineering assistant
                </p>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="container-img">
            <img src="../../assets/img/Foto_portafolio-removebg-preview.png" alt="Elian Jaimes">
        </div>
        <p class="perfil">Merging technical skills and creativity, I aim to bring to life elegant and efficient software
            solutions. In
            every project, my goal is excellence, setting the pace in an ever-evolving digital market. I am committed to
            establishing new standards in software development with every line of code I write.
        </p>
    </div>
    <div class="box">
        <h2>CONTACT</h2>
        <div class="info">
            <img src="../../assets/img/cuadrosinfondo.png" alt="">
            <p><a target="_blank" href="https://maps.app.goo.gl/Yyx3dW8AV4q5rH6r5">Bogotá, Colombia</a></p>
        </div>
        <div class="info">
            <img src="../../assets/img/cuadrosinfondo.png" alt="">
            <p><a  href="mailto:brayanpjaimes28@gmail.com">brayanpjaimes28</a></p>
        </div>
        <div class="info">
            <img src="../../assets/img/cuadrosinfondo.png" alt="">
            <p>red</p>
        </div>
        <div class="info">
            <img src="../../assets/img/cuadrosinfondo.png" alt="">
            <p>red</p>
        </div>
        <div class="info">
            <img src="../../assets/img/cuadrosinfondo.png" alt="">
            <p>red</p>
        </div>
        <div class="info">
            <img src="../../assets/img/cuadrosinfondo.png" alt="">
            <p>red</p>
        </div>
    </div>
</div>