<div class="title">
    <h1>ELIAN JAIMES</h1>
</div>
<div class="container">
    <div class="box">
        <h2>WORK EXPERIENCE</h2>
        <div class="experience">
            <img src="../../assets/img/2020 sin fondo.png" alt="2020">
            <div class="infow">
                <h3>FREELANCE</h3>
                <p>Unity developer & Game and Application Designer & .NET developer & developer fullstack</p>
            </div>
        </div>
        <div class="experience">

            <img src="../../assets/img/2021 sin fondo.png" alt="2021">
            <div class="infow">
                <h3>JSONPRODUCTIONS</h3>
                <p>Unity developer & Game and Application Designer & .NET developer</p>
            </div>
        </div>
        <div class="experience">
            <img src="../../assets/img/2022 sin fondo.png" alt="2022">
            <div class="infow">
                <h3>JORJWEB.LTDA</h3>
                <p>Developer fullstack & developer backend Spring boot & Systems engineering assistant
                </p>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="container-img">
            <img src="../../assets/img/Foto_portafolio-removebg-preview.png" alt="Elian Jaimes">
        </div>
        <p class="perfil">Merging technical skills and creativity, I aim to bring to life elegant and efficient software
            solutions. In
            every project, my goal is excellence, setting the pace in an ever-evolving digital market. I am committed to
            establishing new standards in software development with every line of code I write.
        </p>
    </div>
    <div class="box">
        <h2>CONTACT</h2>
        <div class="info">
            <img src="../../assets/img/maps-location-svgrepo-com.svg" alt="">
            <p><a target="_blank" href="https://maps.app.goo.gl/Yyx3dW8AV4q5rH6r5">Bogotá, Colombia</a></p>
        </div>
        <div class="info">
            <img src="../../assets/img/gmail-svgrepo-com.svg" alt="">
            <p><a href="mailto:brayanpjaimes28@gmail.com">brayanpjaimes28@gmail.com</a></p>
        </div>
        <div class="info">
            <img src="../../assets/img/github-one-svgrepo-com.svg" alt="">
            <p><a target="_blank" href="https://github.com/darkelian/">@Darkelian</a></p>
        </div>
        <div class="info">
            <img src="../../assets/img/linkedin-svgrepo-com.svg" alt="">
            <p><a target="_blank" href="https://www.linkedin.com/in/elianjaimes/">@elianjaimes</a></p>
        </div>
        <div class="info">
            <img src="../../assets/img/whatsapp-svgrepo-com.svg" alt="">
            <p><a target="_blank" href="https://wa.me/573137675980">+57 3137675980</a></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="box1"><img src="../../assets/img/zonatrabajosinfondo.png" alt=""></div>
</div>
<div class="container">
    <div class="box">
        <h2>HOBBITS</h2>
        <div class="container-hobbits">
            <div class="hobbit">
                <img src="" alt="">
            </div>
            <div class="hobbit">
                <img src="../../assets/img/music-1-svgrepo-com.svg" alt="">
                <img src="../../assets/img/game-consol-svgrepo-com.svg" alt="">
            </div>
            <div class="text-hobbit">
                <h3>Music</h3>
                <h3>Videogames</h3>
            </div>
        </div>
        <div class="container-hobbits">
            <div class="hobbit">
                <img src="" alt="">
            </div>
            <div class="hobbit">
                <img src="../../assets/img/football-ball-svgrepo-com.svg" alt="">
                <img src="../../assets/img/camera-left-svgrepo-com.svg" alt="">
            </div>
            <div class="text-hobbit">
                <h3>Soccer</h3>
                <h3>Photography</h3>
            </div>
        </div>
    </div>
    <div class="box">
        <h2>EDUCATION</h2>
        <div class="experience">
            <img src="../../assets/img/2024 sin fondo.png" alt="2024">
            <div class="infow">
                <h3>Uniersidad Distrital Francisco José de Caldas</h3>
                <p>Systems engineer</p>
            </div>
        </div>
        <div class="experience">

            <img src="../../assets/img/2021 sin fondo.png" alt="2021">
            <div class="infow">
                <h3>Universidad industrial de Santander (IUS)</h3>
                <p>Software development (Certificate)</p>
            </div>
        </div>
        <div class="experience">
            <img src="../../assets/img/2021 sin fondo.png" alt="2021">
            <div class="infow">
                <h3>Universidad industrial de Santander (IUS)</h3>
                <p>Mobile application development (Certificate)
                </p>
            </div>
        </div>
    </div>
    <div class="box">
        <h2>SOFTWARE SKILLS</h2>
        <div class="skill">
            <img src="../../assets/img/java-svgrepo-com.svg" alt="Java">
            <img src="../../assets/img/spring-svgrepo-com.svg" alt="Spring boot">
        </div>
        <div class="skill">
            <img src="../../assets/img/unity-svgrepo-com.svg" alt="Unity">
            <img src="../../assets/img/dotnet-svgrepo-com.svg" alt=".Net">
        </div>
        <div class="skill">
            <img src="../../assets/img/angular-svgrepo-com.svg" alt="Angular">
            <img src="../../assets/img/python-svgrepo-com.svg" alt="Python">
        </div>
    </div>
</div>